<!DOCTYPE html>
<html>
<head>
    <title>Generar PDF</title>
</head>
<body>
    <h1>Generación de PDF</h1>
    <form asp-action="GeneratePdf" asp-controller="Pdf" method="get">
        <button type="submit">Descargar PDF</button>
    </form>
</body>
</html>
